In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import statsmodels.api as sm

sns.set()

In [4]:
raw_data = pd.read_csv('data.csv')
raw_data.head()

    SAT Admitted
0  1363       No
1  1792      Yes
2  1954      Yes
3  1653       No
4  1593       No

In [6]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes': 1, 'No': 0})
data.head()

    SAT  Admitted
0  1363         0
1  1792         1
2  1954         1
3  1653         0
4  1593         0

In [7]:
y = data['Admitted']
x1 = data['SAT']

In [9]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
result_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.137766
         Iterations 10