# Importing modules and data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('data.csv')
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

# Preparing Data

In [3]:
x = data[['SAT', 'Rand 1,2,3']]
y = data['GPA']

# Standardization

In [4]:
from sklearn.preprocessing import StandardScaler

In [5]:
scaler = StandardScaler()
scaler.fit(x)
x_scaled = scaler.transform(x)
# x_scaled

# Train Test Split

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.1, random_state=43)
# 80 - 20 is a common one

In [7]:
reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [8]:
y_pred = reg.predict(x_test)

In [9]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

    Actual  Predicted
54    3.44   3.390700
33    3.29   3.337093
2     2.54   3.175257
53    3.42   2.966974
78    3.71   3.316650
22    3.20   3.010015
13    3.08   3.093488
5     2.91   3.034662
76    3.64   3.591717

# Model's Worth - Test

In [10]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 0.21716042581573308

# Total Model's Worth

In [11]:
y_tot_pred = reg.predict(x_scaled)

total = pd.DataFrame({'Actual': y, 'Predicted': y_tot_pred})  
total.head()

   Actual  Predicted
0    2.40   3.109618
1    2.52   3.011718
2    2.54   3.175257
3    2.74   3.047492
4    2.83   3.067482

In [12]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y, y_tot_pred))

Mean Absolute Error: 0.15518195812059934